@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{ margin: 0; padding: 0; font-family: 'Roboto Slab', serif; }


#bg1 {background-color: #ffffff !important;}

#lspace1{ letter-spacing: 10px; }
#lspace2{ letter-spacing: 5px; }