/*--Global Css--------------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Roboto+Slab&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}
#spacer {
  visibility: hidden;
}
/* box size */

/*--background-color Css--------------------------------------------------------------------------------------------------------------------- */
.sizelogo {
  height: 50px;
  width: 50px;
}

/*--Text Spacing Css--------------------------------------------------------------------------------------------------------------------- */
#lspace1 {
  letter-spacing: 10px;
}
#lspace2 {
  letter-spacing: 3px;
}

/*--Text Shadow Css--------------------------------------------------------------------------------------------------------------------- */
#txt-shadow {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/*--background-color Css--------------------------------------------------------------------------------------------------------------------- */
#bg6 {
  background-color: #68a7ad;
}
#bg7 {
  background-color: #ffffff;
}
#bg9 {
  background-color: #68a7ad;
}
